body{
    background-color: #000000;
    color: #00ffff;
    word-wrap: break-word;
}
a {
    color: #ffcc00;
} 
a:hover {
    color: #ff9933;
}
textarea {
    background-color: #000000;
    color: #00ffff;
    border: 1px solid #00ffff;
}
input {
    background-color: #000000;
    color: #00ffff;
    border: 1px solid #00ffff;
} 
.greentext{
    color: #99ff33;
}
.redtext {
    color: #ff0000;
}
.bluetext {
    color: #6699ff;
}
.orangetext {
    color: #ffcc00;
}
hr{
  border-top: 5px solid #00ffff;
}
